
{% for field in team_form %}
      <div class="item row">
        <div class="col-md-6" align="left">{{ field.label_tag }}</div> 
        <div class="col-md-{% if 'Team Description' in field.label_tag %}{{ 12 }}{% else %}{{ 6 }}{% endif %}">
          {{ field }}
            {% if field.errors %}
            <div class="error-message text-danger">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
            </div>
          {% endif %}
        </div>
        
      </div>
      {% endfor %}