
.main {
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(85, 85, 85);
}

.section{
    background: #fff;
    box-shadow: 0 0.375rem 1.375rem rgba(175, 194, 201, .5);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

#result_table {
    font-size: 10px;
}

.error-message {
    margin-left: auto;
    margin-right: 0;
    font-size: 14px;
    text-align:left;
    padding:0.5%;
    display:inline;
}

.myforms {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.myforms span {
    font-size:20px;
}

.myforms .form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

#status-form {
    padding-left: 50px;
    padding-right: 50px;
}

#status-form input[type=checkbox] {
    transform: scale(2);
    margin-top:10%;
}

