{% extends "users/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock title %}
{% block stylesheet %}
{% endblock stylesheet %}

{% block content %}
  <form class="form-users" method="post" action="{% url 'users:change_password' %}" novalidate>
    {% csrf_token %}
    {% include 'users/forms/change_password.html' %}
  <button name="submit" class="btn btn-primary">Submit</button>
  <a  class="btn btn-outline-primary" href="{% url 'index_page:index'%}">Go Back</a>
  </form>
{% endblock content %}
