{% extends "index_page/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Our Teams{% endblock title %}
{% block content %}

<!--<p>
{{ page_id }} 
</p>

<p>
{{ tot_page }}
</p>-->


<div class="section">
        <h4>Users</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Team Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Member 1</th>
                    <th scope="col">Member 2</th>
                    <th scope="col">Member 3</th>
                </tr>
            </thead>
            <tbody>
                {% if user_list %}
                <tr>
                    
                </tr>
                {% for item in user_list %}
                <tr>
                    <td>{{ item.id }}</th>
                    <td><a href="{% url 'users:show_user' item.id %}">{{ item.team_name }}</a></td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.team_member_1 }}</td>
                    <td>{{ item.team_member_2 }}</td>
                    <td>{{ item.team_member_3 }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <th> No Users have registered. </th>
                </tr>
                {% endif %}
            </tbody>
                    
        </table>
        <div class="d-flex justify-content-between">
            <div>
                {% if page_id > 1 %}
                <a class="btn btn-sm btn-primary" href="{% url 'users:list_users2' page_id|add:"-1" %}">Previous</a>
                {% endif %}
            </div>
            <div>
                {% if page_id < tot_page %}
                <a class="btn btn-sm btn-primary" href="{% url 'users:list_users2' page_id|add:"1" %}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

