{% extends "users/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Log in{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock stylesheet %}

{% block content %}
  {% if user.is_authenticated %}
    <p>You have login. Go back to <a href="/">index</a></p>
  {% else %}
  <form class="form-signin" method="post" action="{% url 'users:login' %}" novalidate>
      {% csrf_token %}
      <label for="id_username" class="sr-only">Username</label>
        {{ form.username | add_class:"form-control" | attr:"placeholder:Username"}}
      <label for="id_password" class="sr-only">Password</label> 
        {{ form.password | add_class:"form-control" | attr:"placeholder:Password"}}
    <button class="btn btn-primary " type="submit" name="submit">登录</button>
    <a href="{% url 'users:register' %}" class="btn btn-outline-primary">注册</a>
    <input  type="hidden" name="next" value="{{ next }}" />
  </form>
  {% endif %}
{% endblock content %}
