{% extends "index_page/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Log in{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="section">
  {% if user.is_authenticated %}
    <p>You have login. Go back to <a href="/">index</a></p>
  {% else %}
  <h2 style="text-align:center">Log in</h2>
  <form class="form-signin" method="post" action="{% url 'users:login' %}" novalidate>
      {% csrf_token %}
      {% if form.error_messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Incorrect username or password.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <label for="id_username" class="sr-only">Username</label>
        {{ form.username | add_class:"form-control" | attr:"placeholder:Username"}}
      <label for="id_password" class="sr-only">Password</label> 
        {{ form.password | add_class:"form-control" | attr:"placeholder:Password"}}
        
    <center>
      <button class="btn btn-primary " type="submit" name="submit">Submit</button>
      <a href="{% url 'users:register' %}" class="btn btn-outline-primary">Register</a>
    </center>
    <input  type="hidden" name="next" value="{{ next }}" />
  </form>
  {% endif %}
</div>
{% endblock content %}
