{% extends "index_page/base.html" %}

{% load widget_tweaks %}
{% block title %}Modify Profiles{% endblock title %}

{% block content %}
<div class="section">
  <form action="{% url 'users:modify_profiles' %}" method='post' novalidate class="myforms">
    {% csrf_token %}
      <h2>Modify Profiles</h2>
    <hr>
    {% include 'users/forms/team_form.html' %}
  <div style="text-align: center">
    <button name="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-outline-primary" href="/">Go Back</a>
  </div>
  </form>
</div>
{% endblock content %}
