{% extends "users/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Register{% endblock title %}
{% block content %}

  <form class="form-users" method="post" action="{% url 'users:register' %}" >
    {% csrf_token %}
    <h2>Register</h2>
    <hr>
    <div class="form-group">
      {% include 'users/forms/user_form.html' %}
      {% include 'users/forms/team_form.html' %}
    </div>        
    <button name="submit" class="btn btn-primary">Register</button>
    <a class="btn btn-outline-primary" href="/">Go Back</a>
    <input type="hidden" name="next" value="{% url 'index_page:index' %}" />
  </form>  
  <p>Have an account? <a href="{% url 'users:login' %}">Click</a> to log in.</p> 
  </div>   



{% endblock content %}

