{% extends "index_page/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Team Information{% endblock title %}
{% block content %}
<div class="section">
  <h2>Team Information</h2>
  <ul>
    <li>Team: {{ profile.team_name }}</li>
	<li>Members: {{ profile.team_member_1 }} , {{ profile.team_member_2 }} , {{ profile.team_member_3 }}</li>
  </ul>
  <h2>User Information</h2>
  <ul>
    <li>Username: {{ user.username }}</li>
  </ul>
  {{team_description_markdown|safe}}
  <table class="table">
    <thead>
      <th>Contest Name</th>
	  <th>Contest Date</th>
      {% for i in problem %}
      <th>{{ i }}</th>
      {% endfor %}
      <th>Summary</th>
    </thead>
    {% for i in summarylist %}
    <tbody>
      <th>
      {% if i.onsite_tag %}
	    <a data-toggle="tooltip" title="Onsite Contest">
	    <i class="icon-lightbulb icon-large"></i>
		</a>
      {% endif %}
	  <a href="{% url 'contests:display_contest' i.head %}">
      {{ i.tail }}
	  </a>
	  </th>
	  <th>{{ i.date|date:"Y-m-d" }}</th>
      {% for j in i.body %}
      <th>{{ j }}</th>
      {% endfor %}
      <th><a href="{% url 'summary:display_status' user.id i.head %}">View</a></th>
    </tbody>
    {% empty %}
    <tbody>
      <th> No Status have been added yet. </th>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock content %}
