{% extends "index_page/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Team Information{% endblock title %}
{% block content %}
<div class="section">
    {% if user_c.id == user_id %}
    <h2>Owner Zone</h2>
	<table cellpadding="10">
	<tr>
      <th><a class="btn btn-sm btn-primary" href="{% url 'users:modify_profiles' %}">Edit Profile</a></th>
      <th><a class="btn btn-sm btn-primary" href="{% url 'users:histories' %}">View History</a></th>
	</tr>
	</table>
    {% endif %}
  <h2>Team Information</h2>
  <table cellpadding="10">
    <tr>
	  <th>Team</th>
      <th>{{ profile.team_name }}</th>
    </tr>
    <tr>
      <th>Members</th>
      <th>{{ profile.team_member_1 }} , {{ profile.team_member_2 }} , {{ profile.team_member_3 }}</th>
    </tr>
  </table>
  <h2>User Information</h2>
  <table cellpadding="10">
    <tr>
	  <th>Username</th>
	  <th>{{ user_c.username }}</th>
	</tr>
  </table>
  {{team_description_markdown|safe}}
  <table class="table">
    <thead>
      <th>Contest Name</th>
	  <th>Contest Date</th>
      {% for i in problem %}
      <th>{{ i }}</th>
      {% endfor %}
      <th>Summary</th>
    </thead>
    {% for i in summarylist %}
    <tbody>
      <th>
      {% if i.onsite_tag %}
	    <a data-toggle="tooltip" title="Onsite Contest">
		<i class="fa fa-lightbulb-o fa-lg"></i>
		</a>
      {% endif %}
	  <a href="{% url 'contests:display_contest' i.head %}">
      {{ i.tail }}
	  </a>
	  </th>
	  <th>{{ i.date|date:"Y-m-d" }}</th>
      {% for j in i.body %}
      <th>{{ j }}</th>
      {% endfor %}
      <th><a href="{% url 'summary:display_status' user_c.id i.head %}">View</a></th>
    </tbody>
    {% empty %}
    <tbody>
      <th> No Status have been added yet. </th>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock content %}
