{% extends "index_page/base.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="section">
	<center>
		<h1>Add Contest</h1>
	</center>
	<hr>
	<form action="{% url 'contests:add_contest' %}" method='post' class="myforms">
		{% csrf_token %}
		
		{% for field　in form %}
			<div class="form-group">
				<span>{{ field.label }}</span>
				{{ field | add_class:"form-control"}}
			</div>
		{% endfor %}
		<center>
			<button class="btn btn-primary" name="submit">Submit</button>
		</center>
	</form>
	
	{{ form.media }}
	<script type="text/javascript">
		$('.datepicker').datepicker();
	</script>
</div>

{% endblock content %}
