{% extends "index_page/base.html" %}
{% load url_extras %}

{% block content %}

<div class="section">
	<h2>{{ contest.name }}</h2>
	<table cellpadding="10">
		<tr>
			<th>Source</th>
			<th>{{ contest.source }}</th>
		</tr>
		<tr>
			<th>Date</th>
			<th>{{ contest.date | date:"Y-m-d"  }}</th>
		</tr>
		<tr>
			<th>Problems</th>
			<th>{{ contest.num_of_problem }}</th>
		</tr>
		<tr>
			<th>Type</th>
			<th>
				{% if contest.contest_type == 'Onsite' %}
					<a data-toggle="tooltip" title="Onsite Contest">
					<i class="fa fa-lightbulb-o fa-lg"></i>
					</a>
				{% endif %}
				{{ contest.contest_type }}
			</th>
		</tr>
		{% if contest.contest_type == 'Online' %}
		<tr>
			<th>Link</th>
			<th>{{ contest.contest_link|urlize|urlize_target_blank }}</th>
		</tr>
		{% endif %}
	</table>

	{% if user.id is not None %}
	<div style="text-align:right">
		<a class="btn btn-sm btn-primary" href="{% url 'summary:display_status' user_id contest.id %}">View My Summary</a>
		<a class="btn btn-sm btn-primary" href="{% url 'contests:edit_contest' contest.id %}">Edit Contest</a>
	</div>
	{% endif %}
</div>

<div class="section">
	<h4>Contest Result</h4>
	<table class="table" id="result_table">
		<thead>
			<tr>
				<th scope="col">Team</th>
				{% for i in problem %}
				<th scope="col">{{ i }}</th>
				{% endfor %}
				<th scope="col">Summary</th>
			</tr>
		</thead>
		<tbody>
			{% for i in summarylist %}
			<tr>
				<th><a href="{% url 'users:show_user' i.head %}">{{ i.tail }}</a></th>
				{% for j in i.body %}
				<th>
					<p style="{{ j.0|yesno:'color:green;,color:red;,color:blue;' }}">
						{{ j.1|safe }}
					</p>
				</th>
				{% endfor %}
				<th><a href="{% url 'summary:display_status' i.head contest.id %}">View</a></th>
			</tr>
			{% empty %}
			<tr>
				<th> No Status have been added yet. </th>
			</tr>
			{% endfor %}
		</tbody>
			
	</table>
</div>


{% endblock content %}


