{% extends "index_page/base.html" %}

{% block content %}

	<p>Contest Detail</p>
		<li>
			<p> {{ contest.name }} </p>
			<p> {{ contest.source }} </p>
			<p> {{ contest.date }} </p>
			<p> {{ contest.num_of_problem }} </p>
			<p>
				<a href="{% url 'contests:edit_contest' contest.id %}">edit contest</a>
			</p>
		</li>
		<table border="1">
			<tr>
				<th>Team Name</th>
				{% for i in problem %}
				<th>{{ i }}</th>
				{% endfor %}
				<th>Summary</th>
			</tr>
			{% for i in summarylist %}
			<tr>
				<th><a href="{% url 'users:show_user' i.head %}">{{ i.tail }}</a></th>
				{% for j in i.body %}
				<th><p style="{{ j.0|yesno:'color:green;,color:red;,color:blue;' }}">{{ j.1 }}</p></th>
				{% endfor %}
				<th><a href="{% url 'summary:display_status' i.head contest.id %}">View</a></th>
			</tr>
			{% empty %}
			<tr>
				<th> No Status have been added yet. </th>
			</tr>
			{% endfor %}
		</table>
		
	</p>

{% endblock content %}
