{% extends "index_page/base.html" %}

{% load widget_tweaks %}

{% block content %}


<div class="section">
	<form action="{% url 'contests:edit_contest' contest.id %}" method='post' class="myform">
		{% csrf_token %}
		{% for item in form %}
		<div class="form-group">
			<span>
				{{ item.label }}
			</span>
			{{ item | add_class:"form-control"}}
			<p class="error-message text-danger">
				{% for error in item.errors %}
					{{ error }}
				{% endfor %}
			</p>
		</div>
		{% endfor %}
		<div style="text-align: center">
			<button class="btn btn-primary" name="submit">Submit</button>
			<a class="btn btn-outline-primary" href="{% url 'contests:display_contest' contest.id %}">Go Back</a>
		</div>
	</form>
</div>

{{ form.media }}
<script type="text/javascript">
    $('.datepicker').datepicker();
</script>
{% endblock content %}
