{% extends "index_page/base.html" %}

{% block content %}



<div class="section">
	<h1>Contests</h1>
	<div>
		<a  href="{% url 'contests:add_contest' %}" class="btn btn-primary">添加比赛</a>
	</div>
	{% for i in contest %}
	<hr>
	<div class="contest_display">
		<h2><a href="{% url 'contests:display_contest' i.id %}">{{ i.name }}</a></h2>
		<div><p>Source: {{ i.source }}</p><p>Start Time: {{ i.date }}</p></div>
	</div>
	{% empty %}
	<hr>
	<div class="contest_display">
		<h2>No contests have been added yet. </h2>
	</div>
	{% endfor %}
	
</div>
{% endblock content %}
