{% extends "index_page/base.html" %}

{% block content %}



<div class="section">
	<h1>Contests</h1>
	<div>
		<a class={{ user.id|yesno:'"btn btn-primary","btn btn-secondary disabled"'|safe }} href="{% url 'contests:add_contest' %}" >Add Contest</a>
	</div>

	<br>
	{% if contest %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Contest Name</th>
				<th scope="col">Time</th>
				<th scope="col">Source</th>
			</tr>
		</thead>
		<tbody>
			{% for i in contest %}
			<tr>
				<td><a href="{% url 'contests:display_contest' i.id %}">{{ i.name }} </a></td>
				<td>{{ i.date | date:"Y-m-d" }}</td>
				<td>{{ i.source }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% else %}
	<div class="contest_display">
		<h4>No contests have been added yet. </h4>
	</div>
	{% endif %}
	
</div>
{% endblock content %}
